html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Home
    link(rel="stylesheet" href="style.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet")

  body(class="open-sans")
    main 
    h1 Iniciar Sesión
    form(action="/login" method="POST")
      label(for="username") Usuario:
      input(type="text", id="username", name="username", required)
      br
      label(for="password") Password:
      input(type="password", id="password", name="password", required)
      br
      br
      button.add-button(type="submit") Iniciar Sesión
    